@model EntityFramework.Models.Enrollment

<link href="style.css" rel="stylesheet">

<h1>Welcome First Years!</h1>

<p>Please choose your house affiliation</p>

<div class="form">
    <form method="post">

        <label for="FirstName">First Name</label>
        <input maxlength="20" name="FirstName" />

        <label for="LastName">Last Name</label>
        <input maxlength="20" name="LastName" />

        <label for="PhoneNumber">Phone Number</label>
        <input maxlength="10" name="PhoneNumber" />

        <label for="House">House</label>
        <select name="House">
            <option value="Hufflepuff">Hufflepuff</option>
            <option value="Gryffindor">Gryffindor</option>
            <option value="Ravenclaw">Ravenclaw</option>
            <option value="Slytherin">Slytherin</option>
        </select>

        <button type="submit">Choose</button>

    </form>
</div>
